#header-text {
    color: green;
    
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    max-width: 200px;
    /* Başlık hücresinin maksimum genişliği */
    word-wrap: break-word;
    /* Kelimeleri böl ve alt satıra geç */
    overflow-wrap: break-word;
    /* Yatay kesme noktasında böl */
}

.container {
    max-width: 1200px;
    /* Tablonun maksimum genişliği */
    margin:  auto;
    /* Sayfayı ortalamak için */
    overflow-x: auto;
    /* Yatay kaydırma çubuğunu etkinleştir */
}
